@charset "UTF-8";
/* -----------------------------------------------------
* 运动馆首页列表样式
* ----------------------------------------------------- */

/*场馆标题样式*/
.clear{zoom:1}
h1,h2,h3,h4,h5,h6{display:inline}
.clear{position:relative;height:46px}
.detail_head h1{font:30px/45px "微软雅黑","宋体"}
.detail_head .detailPa h1 span{font-size:18px;margin-left:10px;color:#999}
.detail_head {position:relative;padding:10px 10px 20px;width:1190px;}
.detail_head .detailPa{height:auto;line-height:22px;width:100%;}
.detail_head .detailPa span.mark {width:74px;height:59px;background-position:0 -42px;top:-10px;left:-10px;}
.detail_head .detailName{border-bottom:1px solid #eee;padding-bottom:10px;}

/*评分*/
.ml15 {margin-left: 15px;}
.mt10 {margin-top: 10px;}
.left {float: left;}
.ui_big_ratings {
width: 130px;
height: 24px;
overflow: hidden;
line-height: 24px;
float: left;
}
.ui_big_ratings li.half {
background-position: 1px 0;
}
.ui_big_ratings li {
width: 13px;
height: 24px;
float: left;
background-position: -25px 0;
cursor: default;
overflow: hidden;
}
.ratings li, .ui_big_ratings li, .initRating span {
background: url(../../img/ico_star.gif) no-repeat;
}

ul li {
list-style: none;
padding: 0;
margin: 0;
}
.ui_big_ratings li.on {
background-position: -12px 0;
}
.ui_big_ratings li.no {
background-position: -38px 0;
}


.bigSubp {
vertical-align: -4px;
height: 30px;
line-height: 30px;
display: inline-block;
}

.bigSubp sub {
font-size: 30px;
}

sub {
font-size: 22px;
font-size: 28px\9;
font-style: italic;
color: #f60;
line-height: 24px;
vertical-align: middle;
margin-left: 10px;
}

.bigSubp sup {
font-size: 20px;
}

sup {
font-weight: normal;
font-size: 16px;
font-style: italic;
color: #f60;
line-height: 20px;
vertical-align: top;
margin-left: 2px;
}

.ratingsCount {
margin: 10px 0 0 20px;
}

.ratingsCount ul li {
float: left;
margin-right: 10px;
color: #666;
}

.ratingsCount a.cou {
background-position: 6px -177px;
padding: 0 7px 0 30px;
}

.ratingsCount a {
background: url("../../img/cinemaico.gif") no-repeat 0 0;
cursor: pointer;
color: #666;
height: 26px;
line-height: 27px;
display: inline-block;
border: 1px solid #e5e5e5;
border-radius: 3px;
}

a {
color: #c30;
text-decoration: none;
outline: 0;
}

.ratingsCount a.ad {
background-position: 6px -205px;
padding: 0 7px 0 30px;
}

.ratingsCount a.se {
color: #c30;
background-position: 6px -325px;
}

.none {
display: none!important;
}

/*Topic行*/

.itemTopic {
overflow: hidden;
padding-top: 10px;
}
.ui_media, .ui_text {
overflow: hidden;
zoom: 1;
}

.ui_media{
float: left;
}
.ui_text{
float: left;
}
.ui_map{
float: left;
}

.itemTopic{
margin-right: 15px;
}
.ui_media{
margin-right: 10px;
float: left;
}

.itemTopic .ui_summary_big {
color: #333;
font: 12px/22px "宋体";
padding-left: 26px;
margin-top: 10px;
position: relative;
width: 524px;
}

.itemTopic .ui_summary_big span.first {
position: absolute;
left: 0;
top: 0;
}

.ui_summary_big span.first {
background-position: 0 2px;
margin: 0 10px 0 0;
}

.ui_summary_big span {
background-position: 0 -19px;
display: inline-block;
margin: 0 0 0 10px;
height: 13px;
width: 18px;
}

.ui_summary span, .ui_summary_big span, .screenList a img.seatPic {
background: url(../../img/ico_pub.gif) no-repeat;
}
.itemTopic .ui_summary_big {
color: #333;
font: 12px/22px "宋体";
}

.itemTopic dl {
margin-bottom: 1px;
}

.mt30 {
margin-top: 30px!important;
}
.clear, .button, .ui_layout, .abeam, .list li, .tales60, .tales100, .selectOptions, .inner {
zoom: 1;
}

.itemTopic dt {
float: left;
color: #999;
width: 68px;
}


dd {
display: block;
-webkit-margin-start: 40px;
}

/*map*/
.detail_head .map {
width: 240px;
float: left;
}

.detail_head .map .mapInfo {
border: 1px solid #cecece;
}
