@charset "UTF-8";
/* -----------------------------------------------------
* 运动馆首页列表样式
* ----------------------------------------------------- */

.mt10{margin-top:10px}
.mb15{margin-bottom:15px}

/*列表样式*/
.dl-horizontal dd { margin-left: 80px;}
dt,dd {line-height: 30px;}

.ulist{margin-bottom:30px;font:12px/22px}
.ulist li{line-height:24px;padding:3px 0 5px 0; list-style:none; margin:0px} 
.ulist li a{white-space:nowrap}

/*列表中标题样式*/
.typeTitle{color:#999;position:absolute;left:0;top:0;line-height:24px}
.dlTy{padding-left:0px;position:relative}

.selectedMenus {
    background-color: #F4F4F4;
    height: 28px;
    line-height: 28px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.right {
    float: right;
}
.left {
    float: left;
}
.cSport{color:#39c!important} 
/*图片样式*/
.ui_media .ui_pic{margin-right:10px;float:left}

/*左侧运动项目图片样式*/
.sportItemsBox {
    background-color: #F4FCFF;
    border-bottom-color: #D5F3FF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #D5F3FF;
    border-top-style: solid;
    border-top-width: 1px;
	border-left-color: #D5F3FF;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #D5F3FF;
    border-right-style: solid;
    border-right-width: 1px;
    display: block;
    height: 144px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 7px;
    text-align: center;
    width: 100px;
}
.sportItemsBox em {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../../img/sport_items.gif");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 100px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -9999px;
    width: 100px;
}
.mt20 {
    margin-top: 20px !important;
}
.si_ymq em {
    background-position: 0 0;
}
.si_yy em {
    background-position: -200px 0;
}
/*列表中场馆名标题样式*/
.sportList a{color:#333}
.sportList .title span{font:14px/26px verdana,Arial,'微软雅黑','宋体';font-weight:bold}

/*effectLi让图片左对齐，并且去掉列表前面的点*/
.sportList ul li.effectLi{padding:0 0 20px;border-bottom:1px solid #f4f4f4;margin-bottom:20px;position:relative;display:inline-block}

/*列表中场馆详细信息样式*/
.ui_text{color:#999}
.sportList .ui_text p b{font-size:12px;margin-right:10px;color:#1885ae}

.text_info b{
  color: #1885AE;
}

/*分页样式*/
#page{font-size:12px;height:21px;width:auto;margin:20px auto;float:right}
#page a,#page strong{float:left;margin:0 1px}
#page a{display:inline-block;height:21px;line-height:21px;padding:0 8px}
#page a:hover{background:#f60;color:#fff;text-decoration:none}
#page .on,#page a.on:hover{background:#c30;color:#fff}
#page a{color:#39c}
#page a:hover{background:#3ae}
#page .on,#page a.on:hover{background:#1885ae}
